<a href="https://colab.research.google.com/github/vinothkumarsevugan/Machine-Learning-Projects/blob/main/Multi_linear_regression_for_Petrol_Consumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
df=pd.read_csv("/content/petrol_consumption.csv")

In [ ]:
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [ ]:
df.shape

(48, 5)

In [25]:
X=df.iloc[:,:-1].values
y=df.iloc[:,[4]].values

In [27]:
X=X.astype(float)

In [53]:
X.shape

(48, 4)

In [ ]:
y

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [31]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()    #reg is obhject
reg.fit(X_train,Y_train)

LinearRegression()

In [32]:
y_pred=reg.predict(X_test)

In [ ]:
Y_test

In [47]:
Y_train.shape

(38, 1)

In [50]:
coeff_df = pd.DataFrame(reg.coef_)

In [51]:
coeff_df

          0         1         2            3
0 -40.01666 -0.065413 -0.004741  1341.862121

In [52]:
reg.intercept_  #C

array([425.5993322])

In [54]:
import statsmodels.formula.api as sm
X=np.append(arr=np.ones((48,1)).astype(int),values=X,axis=1)  #adding a number to start of the aray as we will use stats to check

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [59]:
X_opt=X[:,1:5]

In [58]:
import statsmodels.api as sm

In [61]:
X_opt=X_opt.astype(float)

In [62]:
rr=sm.OLS(endog=Y,exog=X_opt).fit()

In [63]:
rr.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.987
Model:                            OLS   Adj. R-squared (uncentered):              0.986
Method:                 Least Squares   F-statistic:                              867.8
Date:                Sat, 28 May 2022   Prob (F-statistic):                    3.17e-41
Time:                        18:54:22   Log-Likelihood:                         -269.00
No. Observations:                  48   AIC:                                      546.0
Df Residuals:                      44   BIC:                                      553.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           -14.2390      8.414     -1.692      0.098     -31.196       2.718
x2            -0.0594      0.017     -3.404      0.001      -0.095      -0.024
x3             0.0012      0.003      0.404      0.688      -0.005       0.007
x4          1630.8913    130.969     12.452      0.000    1366.941    1894.842
==============================================================================
Omnibus:                        9.750   Durbin-Watson:                   2.226
Prob(Omnibus):                  0.008   Jarque-Bera (JB):                9.310
Skew:                           0.880   Prob(JB):                      0.00952
Kurtosis:                       4.247   Cond. No.                     1.00e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large,  1e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

According to p test paved highways value has no influence on the target