<a href="https://colab.research.google.com/github/vinothkumarsevugan/vinothkumarsevugan/blob/main/Telephone_Directory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install dnspython
!pip install pymongo[srv]

Collecting dnspython
  Downloading dnspython-2.2.0-py3-none-any.whl (266 kB)
     |████████████████████████████████| 266 kB 4.9 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.0
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.0)

In [ ]:
import pymongo
from pymongo import MongoClient
client=pymongo.MongoClient("mongodb+srv://vsevuga:vinci6085@cluster0.ra7kb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db=client.tele_dir
records=db.telephone

In [ ]:
new1={
    "name":"Vinoth",
     "phone":9445063810,
      "Place":"Chennai"
}

In [ ]:
records.insert_one(new1)

In [ ]:
name=input("Enter Name ")
ph=int(input("Enter the Phone Number  "))
place=input("Enter Place  ")
typ=input("Enter Home or Office  ")
new={
    "name":name,
     "phone":ph,
     "type":typ,
     "Place":place

}
records.insert_one(new)

Enter Name Mark
Enter the Phone Number  9456782129
Enter Place  Princeton
Enter Home or Office  Office

In [ ]:
print(new)

{'name': 'Bond', 'phone': 8778155678, 'type': 'Office', 'Place': 'Britain'}

In [ ]:
records.insert_one(new)

In [ ]:
print("enter name")
n1=input()
for x in records.find({"name":n1}):
  print(x)

enter name
Bond
{'_id': ObjectId('6221fd5fb2e3d4d196cc6440'), 'name': 'Bond', 'phone': 8778155678, 'type': 'Office', 'Place': 'Britain'}

In [ ]:
myquery={"name":"Vinoth"}
records.delete_one(myquery)

In [ ]:
for x in records.find():
  print(x)
print("What you want to update Name Phone Type Place")
sel=input()
s=sel.lower()
print("Please enter the old value")
old=input()
print(s," to be updated as")
new=input()
query = { s: old }
newvalues = { "$set": { s: new } }
records.update_one(query, newvalues)
for x in records.find():
  print(x)

{'_id': ObjectId('6221fd5fb2e3d4d196cc6440'), 'name': 'Bond', 'phone': 8778155678, 'type': 'Office', 'Place': 'Britain'}
{'_id': ObjectId('62225b40c913dab705648100'), 'name': 'Adam', 'phone': 9445063810, 'type': 'Home', 'Place': 'Washington'}
{'_id': ObjectId('62225b75c913dab705648101'), 'name': 'Mark', 'phone': 9456782129, 'type': 'Office', 'Place': 'Princeton'}
What you want to update Name Phone Type Place
Name
Please enter the old value
Adam
name  to be updated as
Gates
{'_id': ObjectId('6221fd5fb2e3d4d196cc6440'), 'name': 'Bond', 'phone': 8778155678, 'type': 'Office', 'Place': 'Britain'}
{'_id': ObjectId('62225b40c913dab705648100'), 'name': 'Gates', 'phone': 9445063810, 'type': 'Home', 'Place': 'Washington'}
{'_id': ObjectId('62225b75c913dab705648101'), 'name': 'Mark', 'phone': 9456782129, 'type': 'Office', 'Place': 'Princeton'}

In [ ]:
for x in records.find():
  print(x)
de=input("Enter Name to be deleted  ")
query={"name":de}
records.delete_one(query)
for x in records.find():
  print(x)

{'_id': ObjectId('6221fd5fb2e3d4d196cc6440'), 'name': 'Bond', 'phone': 8778155678, 'type': 'Office', 'Place': 'Britain'}
{'_id': ObjectId('62225b40c913dab705648100'), 'name': 'Gates', 'phone': 9445063810, 'type': 'Home', 'Place': 'Washington'}
{'_id': ObjectId('62225b75c913dab705648101'), 'name': 'Mark', 'phone': 9456782129, 'type': 'Office', 'Place': 'Princeton'}
Enter Name to be deletedMark
{'_id': ObjectId('6221fd5fb2e3d4d196cc6440'), 'name': 'Bond', 'phone': 8778155678, 'type': 'Office', 'Place': 'Britain'}
{'_id': ObjectId('62225b40c913dab705648100'), 'name': 'Gates', 'phone': 9445063810, 'type': 'Home', 'Place': 'Washington'}

In [ ]:


!pip install dnspython
!pip install pymongo[srv]

import pymongo
from pymongo import MongoClient
client=pymongo.MongoClient("mongodb+srv://vsevuga:vinci6085@cluster0.ra7kb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db=client.tele_dir
records=db.telephone

name=input("Enter Name ")
ph=int(input("Enter the Phone Number  "))
place=input("Enter Place  ")
typ=input("Enter Home or Office  ")
new={
    "name":name,
     "phone":ph,
     "type":typ,
     "Place":place

}
records.insert_one(new)

print(new)

records.insert_one(new)

print("enter name")
n1=input()
for x in records.find({"name":n1}):
  print(x)


for x in records.find():
  print(x)
print("What you want to update Name Phone Type Place")
sel=input()
s=sel.lower()
print("Please enter the old value")
old=input()
print(s," to be updated as")
new=input()
query = { s: old }
newvalues = { "$set": { s: new } }
records.update_one(query, newvalues)
for x in records.find():
  print(x)

for x in records.find():
  print(x)
de=input("Enter Name to be deleted  ")
query={"name":de}
records.delete_one(query)
for x in records.find():
  print(x)